<?xml version="1.0" encoding="UTF-8" ?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.ninetyone.streets" version="1.0.0" versionCode="1">

    <name>91streets</name>

    <description>
        Shopping companion
    </description>

    <author href="http://www.wohlig.com" email="info@wohlig.com">
        Wohlig Technologies
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="android-installLocation" value="internalOnly" />
    <preference name="ErrorUrl" value="" />
    <preference name="BackgroundColor" value="0x000000" />
    <preference name="KeepRunning" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="splash-screen-duration" value="3000" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ios-statusbarstyle" value="black-translucent" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="LoadUrlTimeoutValue" value="200000" />
    

    <icon src="img/logo.png" />

    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screens/android/screen-port-hdpi.png" density="port-hdpi" />
        <splash src="res/screens/android/screen-port-ldpi.png" density="port-ldpi" />
        <splash src="res/screens/android/screen-port-mdpi.png" density="port-mdpi" />
        <splash src="res/screens/android/screen-port-xhdpi.png" density="port-xhdpi" />
    </platform>

    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/screens/ios/screen~iphone.png" width="320" height="480" />
        <splash src="res/screens/ios/screen@2x~iphone.png" width="640" height="960" />
        <splash src="res/screens/ios/screen-Portrait~ipad.png" width="768" height="1024" />
        <splash src="res/screens/ios/screen-Portrait@2x~ipad.png" width="1536" height="2048" />
        <splash src="res/screens/ios/screen-568h@2x~iphone.png" width="640" height="1136" />
        <splash src="res/screens/ios/screen-667h.png" width="750" height="1334" />
        <splash src="res/screens/ios/screen-736h.png" width="1242" height="2208" />
    </platform>



    <access origin="*" />
    <!-- allow all pages, use for development -->
    <access origin="*.pushwoosh.com" />
    <!-- allow pushwoosh service -->

    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.0.2" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />

    <gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />

    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <!-- for iOS -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <!-- for Android (you will find one in res/xml) -->
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <!-- for Windows Phone -->
    <feature name="SocialSharing">
        <param name="wp-package" value="SocialSharing" />
    </feature>



</widget>