<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Filter</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="">

            <div class="padding">
               
                <accordion ng-repeat="maincat in allcat">
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <p>{{maincat.name}}<i class="pull-right ion ion-ios7-arrow-down"></i>
                            </p>
                        </accordion-heading>
                        <ul class="list">
                            <li class="item item-checkbox" ng-repeat="cat in maincat.subcategory">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="cat.type" ng-click="filter(cat);">
                                </label>
                                {{cat.name}}
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>

                <button class="button button-assertive button-block" type="submit" ng-click="hideSort()">Submit</button>
                
            </div>
            
        </form>
    </ion-content>
</ion-modal-view>