<ion-view title="Add to favorites">
    <ion-content class="has-header">
        <ion-list>
            <!--
           <div class="item-divider">
               <button class="button button-clear button-small button-dark" ng-click="showSort();">Filter</button>
               <button class="button button-clear button-small button-dark" ng-click="showsortsort();">Sort</button>
               <button class="button button-clear button-small button-dark" style="float:right;" ng-click="clear();">Clear Filter &amp; Sort</button>
               
           </div>
-->
            <div class="item item-input-inset" ng-show="showSearch">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="datasearch" ng-keyup="doSearch(datasearch);">
                    <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch();"></i>
                </label>
            </div>

            <ion-item class="item-avatar item-button-right" ng-repeat="brand in brands | orderBy:myorder:myorderorder">
                <img src="{{brand.logo|imagepath}}">

                <h2>{{brand.name}}</h2>
                <!--<h3 style="color:#cc2311;">{{brand.header}}</h3>-->
                <h2 class="assertive">{{brand.mylike + addlike}} Likes</h2>
                <button class="button button-clear {{brand.userlike|isuserlike}}" ng-click="like(brand);">
                    <i class="icon ion-heart {{brand.userlike|isuserlike}}"></i>
                </button>
                <!--
                <p>
                    <span ng-hide="!brand.address">{{brand.address}}</span>
                    <span ng-show="!brand.address">{{brand.storeaddress}}</span>
                </p>
-->
            </ion-item>
        </ion-list>


    </ion-content>

</ion-view>

