<ion-view title="91streets">
    <ion-content class="has-header">
        <ion-nav-buttons side="right">
        </ion-nav-buttons>
        <div class="storepage">
            <div class="text-center">
                <img src="{{mall.logo|imagepath}}" alt="" class="storepic">
                <h2>{{mall.name}}</h2>
                <p>
                    <span ng-hide="!mall.address">{{mall.address}}</span>
                    <span ng-show="!mall.address">{{mall.storeaddress}}</span>
                </p>
            </div>
            <div class="row text-center store-icon">
                <div class="col">
                    <a href="tel:{{mall.contactno}}">
                        <i class="icon ion-android-call"></i>
                        <p>Call</p>
                    </a>
                </div>
                <div class="col">
                    <i class="icon ion-android-location"></i>
                    <p>Locate</p>
                </div>
                <div class="col" ng-click="sendtowebsite(mall.website);">
                    <i class="icon ion-ios7-world-outline"></i>
                    <p>Website</p>
                </div>
                <div class="col" ng-share="share();">
                    <i class="icon ion-share" ></i>
                    <p>Share</p>
                </div>
            </div>


            <div class="list">
                <div class="item">
                    <h3>Offers</h3>
                    <p ng-repeat="offer in offers">{{offer.header}}</p>
                    <p ng-show="offers=='';">Sorry, no offers going on.</p>
                    <a href="#/tab/pageoffers/{{mallid}}">
                        <span class="item-note" ng-hide="offers=='';">View All</span>
                    </a>
                </div>

                <div class="item">
                    <h3>Events</h3>
                    <p>{{mall.events}}</p>
                </div>
            </div>

            <div class="category">
                <h4 class="<as></as>sertive">CATEGORIES</h4>
                <div class="row" ng-repeat="mallcat in mallcategory">
                    <div class="col incategory" ng-repeat="mallc in mallcat">
                        <a href="#tab/mallpagelist/{{mallc.categoryid}}/{{mallc.mall}}">
                            <h1 class="flaticon-{{mallc.name | fourletter}}"></h1>
                            <span class="textOn">{{mallc.name}}</span>
                        </a>
                    </div>
                </div>
            </div>


    </ion-content>
</ion-view>