<ion-modal-view>
    <ion-header-bar class="bar-assertive">
        <h1 class="title">Sort</h1>
<!--        <p class="title" style="float:right;">Sort</p>-->
    </ion-header-bar>
    
    <ion-content>
               <ul class="list">
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="radio" name="sort" ng-click="changesort('1');">
                                </label>
                                A To Z
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="radio"  name="sort" ng-click="changesort('2');" checked>
                                </label>
                                Distance
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="radio" name="sort" ng-click="changesort('3');">
                                </label>
                                Rating
                            </li>
                </ul>
                 <div class="padding">
                     <button class="button button-assertive button-block" type="submit" ng-click="closeModal()">Submit</button>
                 </div>
    </ion-content>
</ion-modal-view>