<div class="modal">
    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">Register</h1>
        <div class="buttons">
            <button class="button button-icon ion-ios7-close-empty" ng-click="closeLogin()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitRegister(loginData);">
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="loginData.name" placeholder="Name" required>
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="loginData.lastname" placeholder="Last Name" required>
                </label>
                <label class="item item-input">
                    <input type="email" ng-model="loginData.email" placeholder="Email Address" required>
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="loginData.password" placeholder="Password" required>
                </label>
            </div>

            <div class="padding">
                <button class="button button-block button-balanced" type="submit">Submit</button>
            </div>
        </form>
    </ion-content>
</div>
