<ion-view title="91streets">
    <ion-content class="has-header">
        <div class="storepage">
            <div class="storeimg">
                <img src="{{branddetails.brandlogo|imagepath}}" alt="" class="full-image storepic-bg">
            </div>
            <div class="text-center">
                <img src="{{branddetails.brandlogo|imagepath}}" alt="" class="storepic">
                <h2>{{branddetails.brandname}}</h2>
                <p>
                    <span ng-hide="!branddetails.address">{{branddetails.address}}</span>
                    <span ng-show="!branddetails.address">{{branddetails.storeaddress}}</span>
                </p>
            </div>
            <div class="row text-center store-icon">
                <div class="col">
                    <a href="tel:{{branddetails.contactno}}">
                        <i class="icon ion-android-call"></i>
                        <p>Call</p>
                    </a>
                </div>
                <div class="col">
                    <i class="icon ion-heart"></i>
                    <p>Like</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-location"></i>
                    <p>Locate</p>
                </div>
                <div class="col">
                    <a href="{{branddetails.website}}" target="_blank"><i class="icon ion-ios7-world-outline"></i>
                        <p>Website</p></a>
                </div>
                <div class="col">
                    <i class="icon ion-share"></i>
                    <p>Share</p>
                </div>
                <div class="col">
                    <i class="icon ion-ios7-star-half"></i>
                    <p>Review</p>
                </div>
            </div>

            <div class="list">
                <div class="item item-text-wrap">
                    <h3>New Arrivals</h3>
                    <p ng-show="!newarrivals.length">No data found</p>
                    <ion-scroll zooming="true" direction="x" has-bouncing="true">
                        <div class="row image-scroll" ng-controller="PhotoSliderCtrl">
                            <div class="col-25" ng-click="openModal($index);" ng-repeat="newarrival in newarrivals">
                                <img ng-src="{{newarrival.image|imagepath}}" class="full-image">
                            </div>
                        </div>
                    </ion-scroll>
                </div>
                <div class="item item-text-wrap">
                    <h3>Address</h3>
                    <p>
                        <span ng-hide="!branddetails.address">{{branddetails.address}}</span>
                        <span ng-show="!branddetails.address">{{branddetails.storeaddress}}</span>
                    </p>
                </div>
                <div class="item item-text-wrap">
                    <h3>Description</h3>
                    <p>{{branddetails.description}}</p>
                </div>
                <div class="item item-text-wrap">
                    <h3>Timings</h3>
                    <p>{{branddetails.workinghoursfrom}} to {{branddetails.workinghoursto}}. Closed on {{branddetails.shopclosedday}}
                    </p>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>