<ion-view title="Store List">
    <ion-content class="has-header">
    
    
        <div class="list">

            <a class="item item-avatar" href="#/tab/storelist/storepage">
                <img src="img/adidas.jpg">
                <span class="item-note">
                    39KM
                </span>
                <h2>Adidas</h2>
                <h5>Rating: <span class="rating"><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star-half icon"></i></span></h5>
                <p>High Street Pheonix Lower Parel</p>
            </a>
            <a class="item item-avatar" href="#/tab/storelist/storepage">
                <img src="img/pj.jpg">
                <span class="item-note">
                    39KM
                </span>
                <h2>Pepe Jeans</h2>
                <h5>Rating: <span class="rating"><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star-half icon"></i></span></h5>
                <p>High Street Pheonix Lower Parel</p>
            </a>
            <a class="item item-avatar" href="#/tab/storelist/storepage">
                <img src="img/mk.jpg">
                <span class="item-note">
                    39KM
                </span>
                <h2>Michael Kors</h2>
                <h5>Rating: <span class="rating"><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star-half icon"></i></span></h5>
                <p>High Street Pheonix Lower Parel</p>
            </a>
            <a class="item item-avatar" href="#/tab/storelist/storepage">
                <img src="img/cygnus.jpg">
                <span class="item-note">
                    39KM
                </span>
                <h2>Cygnus</h2>
                <h5>Rating: <span class="rating"><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star-half icon"></i></span></h5>
                <p>High Street Pheonix Lower Parel</p>
            </a>
            <a class="item item-avatar" href="#/tab/storelist/storepage">
                <img src="img/cinepolis.jpg">
                <span class="item-note">
                    39KM
                </span>
                <h2>Cinepolis</h2>
                <h5>Rating: <span class="rating"><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star-half icon"></i></span></h5>
                <p>High Street Pheonix Lower Parel</p>
            </a>

        </div>
    

    </ion-content>
</ion-view>

