<ion-view title="91streets">
    <ion-content class="has-header">
<!--
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios7-star"></button>
        </ion-nav-buttons>
-->
        <div class="storepage">
            <div class="text-center">
                <img src="{{branddetails.brandlogo|imagepath}}" alt="" class="storepic">
                <h2>{{branddetails.brandname}}</h2>
                <p>
                    <span ng-hide="!branddetails.address">{{branddetails.address}}</span>
                    <span ng-show="!branddetails.address">{{branddetails.storeaddress}}</span>
                </p>
                <div ng-click="showPopup();">
                    <rating ng-model="rate" max="max" readonly="readonly"></rating>
                </div>
            </div>
            <div class="row text-center store-icon">
                <div class="col">
                    <a href="tel:{{branddetails.contactno}}">
                        <i class="icon ion-android-call"></i>
                        <p>Call</p>
                    </a>
                </div>
                <div class="col" ng-click="like();">
                    <i class="icon ion-heart" ng-class="{liked: checklike == 1}"></i>
                    <p>Like<span ng-show="checklike == 1;">d</span>
                    </p>
                </div>
                <div class="col">
                    <i class="icon ion-android-location"></i>
                    <p>Locate</p>
                </div>
                <div class="col" ng-click="sendtowebsite(branddetails.website);">
                    <i class="icon ion-ios7-world-outline"></i>
                    <p>Website</p>
                </div>
                <div class="col" ng-click="share();">
                    <i class=" icon ion-share" ></i>
                    <p>Share</p>
                </div>
            </div>

            <div class="list">
                <div class="item">
                    <h3>Offers</h3>
                    <p>Sorry, no offers going on.</p>
                    <a href="#">
                        <span class="item-note">View All</span>
                    </a>
                </div>
                <div class="item item-text-wrap">
                    <h3>New Arrivals</h3>
                    <p ng-show="!newarrivals.length">No data found</p>
                    <ion-scroll zooming="false" direction="x" has-bouncing="true">
                        <div class="row image-scroll" ng-controller="PhotoSliderCtrl">
                            <div class="col-25" ng-click="openModal($index);" ng-repeat="newarrival in newarrivals">
                                <img ng-src="{{newarrival.image|imagepath}}" class="full-image">
                            </div>
                        </div>
                    </ion-scroll>
                </div>
                <div class="item item-text-wrap">
                    <h3>Address</h3>
                    <p>
                        <span ng-hide="!branddetails.address">{{branddetails.address}}</span>
                        <span ng-show="!branddetails.address">{{branddetails.storeaddress}}</span>
                    </p>
                </div>
                <div class="item item-text-wrap">
                    <h3>Description</h3>
                    <p>{{branddetails.description}}</p>
                </div>
                <div class="item item-text-wrap">
                    <h3>Timings</h3>
                    <p>{{branddetails.workinghoursfrom}} to {{branddetails.workinghoursto}}. Closed on {{branddetails.shopclosedday}}
                    </p>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>