<ion-view title="91streets">
    <ion-content class="has-header padding">
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios7-search" ng-click="opensearch()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-ios7-more" ng-click="openPopover($event);"></button>
        </ion-nav-buttons>

        <ion-slide-box show-pager="false" auto-play="true">
            <ion-slide ng-repeat="slide in slider">
                <img ng-src="{{slide.image|imagepath}}" alt="" class="full-image">
            </ion-slide>
        </ion-slide-box>

        <div class="padding">
            <div class="button-bar">
                <a class="button button-assertive" href="#/tab/malllist">Malls</a>
                <a class="button button-assertive" href="#/tab/discount">Discount</a>
            </div>
        </div>


        <div class="category">
           
            <h4 class="assertive">CATEGORIES</h4>

            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/24">
                       <h1 class="flaticon-Clot"></h1>
                        <p class="textOn">Clothing</p>
                    </a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/26">
                        <h1 class="flaticon-Foot"></h1>
                        <p class="textOn">Footwear</p>
                    </a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/27">
                        <h1 class="flaticon-Spor"></h1>
                        <span class="textOn">Sports &amp; Fitness</span>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/32">
                        <h1 class="flaticon-Elec"></h1>
                        <span class="textOn">Electronics</span>
                    </a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/28">
                        <h1 class="flaticon-Heal"></h1>
                        <span class="textOn">Health &amp; Care</span>
                    </a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/25">
                        <h1 class="flaticon-Fash"></h1>
                        <span class="textOn">Fashion Accesories</span>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/31">
                        <h1 class="flaticon-Jewe"></h1>
                        <span class="textOn">Jewellery</span>
                    </a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/29">
                        <h1 class="flaticon-Kids"></h1>
                        <span class="textOn">Kids</span>
                    </a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/30">
                        <h1 class="flaticon-Ente"></h1>
                        <span class="textOn">Entertainment</span>
                    </a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
