<ion-view title="Shopping Bag">
    <ion-content class="has-header">
        <div class="padding">
            Select products that you wish to buy and we shall let you know about offers information and store information where you can buy your products from!
        </div>

        <span ng-repeat="cloths in clothing|filter:'true'">{{cloths.name}}<span ng-hide="$last">,</span></span>

        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Clothing <i class="pull-right ion ion-ios7-arrow-down"></i>
                </accordion-heading>
                <ul class="list">
                    <li class="item item-checkbox" ng-repeat="cloths in clothing">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="cloths.type">
                        </label>
                        {{cloths.name}}
                    </li>
                </ul>
            </accordion-group>


        </accordion>

        <div class="padding">
            <button class="button button-assertive button-outline button-block">
                Submit Plan
            </button>
        </div>
    </ion-content>
</ion-view>
