<ion-view title="Shopping Plan">
    <ion-content class="has-header">
<!--
       <ion-nav-buttons side="right">
            
            <button class="button button-icon icon icon-bag" ng-click="showshoppingbag()">View Plan</button>
            
        </ion-nav-buttons>
-->
        
        <div class="padding">
            <p>Select products that you wish to buy and we shall let you know about offers information and store information where you can buy your products from!</p>

            
        
        <accordion ng-repeat="category in categories">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <p >{{category.name}} <i class="pull-right ion ion-ios7-arrow-down"></i></p>
                </accordion-heading>
                <ul class="list">
                    <li class="item item-checkbox" ng-repeat="cloths in category.subcategory">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="cloths.type" ng-click="addtobag(cloths);">
                        </label>
                        {{cloths.name}}
                    </li>
                </ul>
            </accordion-group>
        </accordion>

      
            <button class="button button-assertive button-outline button-block" ng-click="submitplan()">
                Submit Plan
            </button>
        </div>
    </ion-content>
</ion-view>
