<ion-view title="Settings">
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
                <span class="assertive">Profile</span>
            </div>
            <div class="item">
                <h6>First Name</h6>
                <input type="text" ng-model="userpro.firstname" placeholder="First Name">
<!--                <h4>{{userdata.name}}</h4>-->
            </div>
            <div class="item">
                <h6>Last Name</h6>
                <input type="text" ng-model="userpro.lastname" placeholder="Last Name">
<!--                <h4>{{userdata.name}}</h4>-->
            </div>
            <div class="item">
                <h6>Email</h6>
                <input type="text" ng-model="userpro.email" placeholder="Email Address">
<!--                <h4>{{userdata.email}}</h4>-->
            </div>
            <div class="item">
                <h6>Birthdate  (Add Birth date to get B'day Rewards)</h6>
                <input type="date" ng-model="userpro.dob">
<!--                <h4>{{userdata.dob}}</h4>-->
            </div>
            <div class="item item-select">
                <h6>City</h6>
                <select ng-model="userpro.city">
                        <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
                    </select>
            </div>
            
            <div class="padding"><a class="button button-assertive button-block" ng-click="updatepro(userpro)">Update Profile</a></div>
            
            <div class="item item-divider">
                <span class="assertive">Shopping bag</span>
            </div>
            <div class="item">
                <h4 ng-show="shoppingtext">Shopping bag is empty</h4>
                <h4 ng-hide="shoppingtext" ng-click="gotoshoppingbag()">My Shopping Bag</h4>
            </div>
            <div class="item item-divider">
                <span class="assertive">About</span>
            </div>
            <div class="item">
                <h6>Version</h6>
                <h4>1.0.0</h4>
            </div>
            <ion-item>
                <h4>About Us</h4>
            </ion-item>
            <ion-item>
                <h4>FAQ</h4>
            </ion-item>
            <ion-item href="#/tab/setting/disclaimer">
                <h4>Disclaimer</h4>
            </ion-item>
            <ion-item>
                <h4>Feedback</h4>
            </ion-item>
            <ion-item>
                <h4>How to use?</h4>
            </ion-item>
        </div>
        <div class="padding"><button class="button button-assertive button-block" ng-click="logout();">{{loginlogouttext}}</button></div>
    </ion-content>
</ion-view>
