<ion-view title="Settings">
    <ion-content class="has-header">
        <div class="list">
            <div class="item item-divider">
                <span class="assertive">Profile</span>
            </div>
            <div class="item">
                <h6>Name</h6>
                <h4>Dharmil</h4>
            </div>
            <div class="item">
                <h6>Email</h6>
                <h4>{{userdata.email}}</h4>
            </div>
            <div class="item">
                <h6>Birthdate</h6>
                <h4>{{userdata.dob}}</h4>
            </div>
            <div class="item item-divider">
                <span class="assertive">Shopping bag</span>
            </div>
            <div class="item">
                <h4>Shopping bag is empty</h4>
            </div>
            <div class="item item-divider">
                <span class="assertive">About</span>
            </div>
            <div class="item">
                <h6>Version</h6>
                <h4>1.0.0</h4>
            </div>
            <div class="item">
                <h4>About Us</h4>
            </div>
            <div class="item">
                <h4>FAQ</h4>
            </div>
            <div class="item">
                <h4>How to use?</h4>
            </div>
        </div>
        <div class="padding"><button class="button button-assertive button-block" ng-click="logout();">Log Out</button></div>
    </ion-content>
</ion-view>
