<ion-view title="My Favorites">
    <ion-content class="has-header">

<!--
        <div class="list">

        <a class="item item-avatar" href="#/tab/storelist/storepage">
            <img src="img/adidas.jpg">
            <h2>Adidas</h2>
            <p>High Street Pheonix Lower Parel<br>
                32 favorites</p>

        </a>
        </div>
-->
  <ion-list>
            <ion-item class="item-avatar" href="#/tab/storelist/storepage/{{brand.storeid}}" ng-repeat="favorite in favorites">
                <img src="{{favorite.logo|imagepath}}">
                <span class="item-note">{{favorite.dist}} KM</span>
                <h2>{{favorite.name}}</h2>
                <h3 style="color:#cc2311;">{{favorite.header}}</h3>
                <h5>Rating: <span class="rating"><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star icon"></i><i class="ion-ios7-star-half icon"></i></span></h5>
                <p>
                    <span ng-hide="!brand.address">{{favorite.address}}</span>
                    <span ng-show="!brand.address">{{favorite.storeaddress}}</span>
                </p>
            </ion-item>
  </ion-list>
   
   
    </ion-content>
</ion-view>

