<ion-view title="91streets">
    <ion-content class="has-header padding">
 <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-share"  onclick="window.plugins.socialsharing.share('Download 91streets from playstore, 91streets - We help you to shop, Download 91streets: https://play.google.com/store/apps/details?id=com.nintyonestreets.nintyonestreets')"></button>
           
        </ion-nav-buttons>
        
        <ion-slide-box show-pager="false" auto-play="false">
            <ion-slide>
                <img src="img/slide.png" alt="" class="full-image">
            </ion-slide>
            <ion-slide>
                <img src="img/slide.png" alt="" class="full-image">
            </ion-slide>
        </ion-slide-box>

        <div class="padding">
            <div class="button-bar">
                <a class="button button-outline button-assertive button-small" href="#/tab/brandlist">Malls</a>
                <!-- <button class="button button-outline button-assertive button-small" href="#/tab/storelist/all">Shopping</button> -->
<!--                <button class="button button-outline button-assertive button-small" ng-click="shoppingip()">Shopping</button>-->
                <button class="button button-outline button-assertive button-small" href="#/tab/brandlist">Discount</button>
            </div>
        </div>

        
        <div class="category">
            <h4 class="assertive">CATEGORIES</h4>
            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/24"><img src="img/clothing.jpg" alt="" class="full-image">
                        <span class="textOn">Clothing</span></a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/26"><img src="img/footwear.jpg" alt="" class="full-image">
                        <span class="textOn">Footwear</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/27"><img src="img/sports.jpg" alt="" class="full-image">
                        <span class="textOn">Sports &amp; Fitness</span></a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/32"><img src="img/electronics.jpg" alt="" class="full-image">
                        <span class="textOn">Electronics</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/28"><img src="img/health.jpg" alt="" class="full-image">
                        <span class="textOn">Health &amp; Care</span></a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/25"><img src="img/fashion.jpg" alt="" class="full-image">
                        <span class="textOn">Fashion Accesories</span></a>
                </div>
            </div>
            <div class="row">
               <div class="col incategory">
                    <a href="#tab/storelist/31"><img src="img/jew.jpg" alt="" class="full-image">
                        <span class="textOn">Jewellery</span></a>
                </div>
                <div class="col incategory">
                    <a href="#tab/storelist/29"><img src="img/kids.jpg" alt="" class="full-image">
                        <span class="textOn">Kids</span></a>
                </div>
                
            </div>
            <div class="row">
                <div class="col incategory">
                    <a href="#tab/storelist/30"><img src="img/ent.jpg" alt="" class="full-image">
                        <span class="textOn">Entertainment</span></a>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
