<ion-view title="Shopping Bag">
    <ion-content class="has-header">
        <div class="padding">
            <p>Select products that you wish to buy and we shall let you know about offers information and store information where you can buy your products from!</p>


            <span ng-repeat="bagin in bag|filter:'true'">{{bagin.name}}<span ng-hide="$last">,</span></span>
        </div>
        <accordion ng-repeat="category in categories">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <p >{{category.name}} <i class="pull-right ion ion-ios7-arrow-down"></i></p>
                </accordion-heading>
                <ul class="list">
                    <li class="item item-checkbox" ng-repeat="cloths in category.subcategory">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="cloths.type" ng-click="addtobag(cloths);">
                        </label>
                        {{cloths.name}}
                    </li>
                </ul>
            </accordion-group>
        </accordion>

        <div class="padding">
            <button class="button button-assertive button-outline button-block">
                Submit Plan
            </button>
        </div>
    </ion-content>
</ion-view>
